.movies-wrapper {
    width: 100%;
    padding: 80px 0px;
    display: flex;
    background-color: #000;
     position: relative;
}
.movie-container {
   
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.movie-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 1s;
}

.movie-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  animation: fadeIn 1s;

}

.movie-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.buttons {
display: flex;
gap: 20px;
}

.buttons > .play {
    padding: 15px;
    color: #fff;
    background-color: red;
    border: 1px solid #fff;
    border-radius: 5px;
}
.buttons > .watch {
    padding: 15px;
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
}
.release-date {
    color: red;
    font-size: 20px;
}

.movie-overview {
  width: 45%;
  font-size: 15px;
  line-height: 1.5;
}

.movies-wrapper > .btn_view{
    position: absolute;
    left: 70rem;
  top: 47rem;
    color: red;
    background-color: transparent;
    border: none;
    font-size: 13px;
    
}

@media screen and (max-width:896px) {
    .movie-container {
        height: 650px;
    }

    
.movie-content {
  left: 10px;
  bottom: 10px;
}
    .movie-overview  {
        width: 98%;
    }

    .movies-wrapper > .btn_view {
        /* left: 29rem; */
        left: 15rem;
        top: 48rem;
        font-size: 15px;
    }
}


@keyframes fade {
  0% { opacity: 0; }
 100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
 100% { opacity: 1; transform: translateY(0); }
}
