.toprated-container {
    position: relative;
  padding: 10px 4% 40px 4%;
  background-color: #000;
  color: #fff;
  position: relative;
 
}

.toprated-section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 22px;
  letter-spacing: -0.5px;
}

.toprated-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
}

.toprated-arrow-right {
  right: 0px;
}

.toprated-arrow-left {
  left: -15px;
}

.toprated-arrow svg {
  font-size: 18px;
  color: #fff;
}

.toprated-arrow:hover {
  background: rgba(255, 255, 255, 0.18);
}

.toprated-card {
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.toprated-card:hover {
  z-index: 20;
  display: flex;
}

.toprated-card-image {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.toprated-card-image img {
  width: 90%;
  border-radius: 6px;
  display: block;
  transition: 0.4s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.toprated-hover-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  opacity: 0;
  transition: 0.4s ease;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.92));
}

.topratedcard:hover .toprated-hover-info {
  opacity: 1;
}

.toprated-hover-info h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
}

.toprated-hover-info p {
  font-size: 0.75rem;
  opacity: 0.85;
  margin-top: 3px;
}

.loading,
.error {
  text-align: center;
  margin: 45px auto;
  font-size: 1.2rem;
}


.toprated-btn-view {
  display: block;
  position: absolute;
  left: 70rem;
  padding: 10px 25px;
  background-color: transparent;
  color: red;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.toprated-btn_view:hover {
  text-decoration: underline;
  color: #fff;
}

@media screen and (max-width:896px) {
    .toprated-btn-view {
        left: 15rem;
    }
    .toprated-btn_view {
        left: 15rem;
        font-size: 15px;
    }
}
