.tvShows-container {
  width: 100%;
  padding: 90px 5%;
  background: #000;
  color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
}

.tvShows-section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: #fff;
  border-left: 5px solid #e50914;
  padding-left: 12px;
}

.tv-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 28px;
}

.tvShows-card {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

.tvShows-card:hover {
  transform: scale(1.07);
  border: 1px solid #fff;
  box-shadow: none;
}


.tvShows-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.tvShows-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 45%,
    rgba(0, 0, 0, 0.7) 100%
  );
  opacity: 0;
  transition: opacity 0.4s ease;
}

.tvShows-card:hover .tvShows-card-overlay {
  opacity: 1;
}

/* ====== Hover Info ====== */
.tvShows-hover-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tvShows-card:hover .tvShows-hover-info {
  opacity: 1;
}

.tvShows-hover-info h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

.tvShows-hover-info p {
  margin: 5px 0 0;
  font-size: 0.8rem;
  color: #e50914;
}

/* ====== Loading Spinner ====== */
.loading-spinner {
  margin: 35px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ====== Skeleton Loader ====== */
.tvShows-card .react-loading-skeleton {
  border-radius: 8px;
}

.tvShows-hover-info .react-loading-skeleton {
  margin-top: 10px;
  border-radius: 4px;
}

/* ====== Responsive ====== */
@media (max-width: 1024px) {
  .tvShows-section-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .tvShows-section-title {
    font-size: 1.6rem;
  }

  .tv-grid {
    gap: 20px;
  }
   .tvShows-card {
      box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
   }

  .tvShows-card:hover {
 display: none;
}
}

@media (max-width: 480px) {
  .tvShows-section-title {
    font-size: 1.5rem;
  }
}
