.landing-container {
  height: 100vh;
  background: url("https://static.wixstatic.com/media/b95924_1066780e555e4601ba990f07287b92e1~mv2.png/v1/fill/w_640,h_714,al_c,q_90,usm_2.00_1.00_0.00,enc_avif,quality_auto/b95924_1066780e555e4601ba990f07287b92e1~mv2.png")
    center/cover no-repeat;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.landing-content {
  color: white;
  position: absolute;
  top: 20%;
  left: 25%;
  max-width: 600px;
  text-align: center;
}

.landing-content h1 {
  font-size: 3.1rem;
  line-height: 80px;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.form-text {
  font-size: 1rem;
  line-height: 1.4;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

@media screen and (max-width: 896px) {
  .landing-content {
    width: 100%;
    top: 20%;
    left: 0;
  }
  .landing-content h1 {
    font-size: 2.2rem;
  }

  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
  }
}

.form-combination {
  display: flex;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  gap: 10px;
}

.form-combination input {
  flex: 1;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  backdrop-filter: blur(5px);
  background-color: transparent;
  border: 1.1px solid #fff;
  color: #fff;
}

.form-combination input::placeholder {
  color: #888;
}

.form-combination button {
  padding: 15px 25px;
  font-size: 18px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.form-combination button:hover {
  background-color: #f6121d;
}

@media (max-width: 896px) {
  .form-combination {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-combination input {
    width: 87%;
  }
  .form-combination button {
    border-radius: 5px;
    width: 60%;
  }
}




.upComing-container {
  background-color: #000;
  position: relative;
  padding: 0px 50px;
}

.btn-view-all-signup  {
  width: 15%;
  position: relative;
 
   background: linear-gradient(90deg, #e50914, #000,#e50914); 
  left: 30rem;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: #fff;
}

/* MORE REASONS TO JOIN FILMDATAX */

.moreReasons {
  width: 100%;
}


.reasons-section {
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px 0px 30px 0px;
}

.reasons-title {
  color: #fff;
  max-width: 1025px;
  font-size: 1.7rem;
  margin-bottom: 40px;
  font-weight: 700;
  margin-left: 7.5rem;
}

.reasons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 1025px;
  margin: auto;
 
}

.reason-card {
  background: linear-gradient(135deg, #e50914 0%, #000000 90%);
  height: 300px;
  padding: 20px;
  border-radius: 14px;
  color: #fff;
  text-align: left;
  transition: 0.3s ease;
  display: flex;
  gap: 75px;
  flex-direction: column;
}

.reason-card:hover {
  transform: translateY(-6px);
  background: linear-gradient(135deg, #001f3f 0%, #000000 100%);

  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
}

.reason-card > .text {
  display: flex;
  flex-direction: column;
 
}


.reason-card h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 700;
}

.reason-card p {
  font-size: 0.95rem;
  opacity: 0.9;
  line-height: 25px;
}

.reason-card > .image  {
  width: 60px;
  height: 60px;
  margin-left: 8rem;
 


}

.image  > img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;

}


@media (max-width: 900px) {
  .reasons-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
  }
}

@media (max-width: 600px) {

  .upComing-container{
    padding: 0px;
  }

  .btn-view-all-signup {
    width: 90%;
    left: 1rem;
  }
  .reasons-grid {
    grid-template-columns: 1fr;
  }

  .reasons-title {
    width: 100%;
  justify-content: center;
  align-items: center;
    font-size: 1.8rem;
     margin-left: 24px;
    
  }

  .reason-card {
  background: linear-gradient(135deg, #e50914 0%, #7b3030 90%);
  }

  .reason-card p {
    font-size: 20px;
  }
}



