.login-container {
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/e7f3f02b-5850-4613-aa5e-82f87952628f/2e485472-cd9a-4cf3-8f16-4ed53daab8a3/NG-en-20230911-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center/cover no-repeat;
  position: relative;
  font-family: Arial, sans-serif;
}

.gradient {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}

.login-logo {
  width: 160px;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 10;
}

.login-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
  padding: 50px;
  border-radius: 5px;
  width: 330px;
  color: white;
  z-index: 10;
}

.login-form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #333;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 13px;
  color: #b3b3b3;
}

form > .login-to-home-btn {
  width: 355px;
  background-color: red;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: none;
  padding: 12px;
  border-radius: 5px;
}

.signup-text span:hover {
  text-decoration: underline;
}

.login-password-wrapper {
  position: relative;
  width: 340px;
}

.login-password-wrapper input {
  width: 100%;
  padding: 12px 5px 12px 10px;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 896px) {
  .login-form {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    left: 0px;
    top: 30%;
    transform: translate(-0%, -0%);
  
  }

  .login-logo {
    left: 1px;
  }

  .login-form h1 {
    width: 100%;
    text-align: start;
    margin-right: 20px;
  }

  .login-btn {
    width: 80%;
  }
  
  form > .login-to-home-btn {
    width: 395px;
    
  }

  .login-password-wrapper {
    width: 100%;
    margin-right: 25px;
  }

  .login-password-wrapper input {
    width: 100%;
    padding: 12px 13px 12px 10px;
  }
}

.form-options {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  color: #b3b3b3;
}

.remember-me input {
  margin-right: 8px;
  width: 14px;
  height: 14px;
  accent-color: #e50914;
}

.remember-me {
  cursor: pointer;
}
