.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 30px;
  justify-content: flex-start;
   background: rgba(255, 255, 255, 0.05);
  color: white;
}

.login-logo {
  width: 160px;
  margin-bottom: 20px;
  cursor: pointer;
}

.login-form {
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  max-width: 400px;
  padding: 10px 10px 30px 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.login-form h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-size: 28px;
}

.login-form input {
  width: 90%;
  padding: 14px 0px 14px 37px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #444;
  background: #111;
  color: white;
  font-size: 15px;
  transition: border 0.2s ease;
}

.login-form input::placeholder {
  color: #bbb;
}

.login-form input:focus {
  border-color: #e50914;
  outline: none;
}

.login-password-wrapper {
  position: relative;
  width: 100%;
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.password-toggle-icon:hover {
  color: white;
}

.form-options {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
 
}

.remember-me {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: #fff;
}

.login-to-home-btn {
  margin-top: 10px;
  padding: 14px;
  width: 100%;
  border: none;
  background: #e50914;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.login-to-home-btn:hover {
  background: #f6121d;
}

@media (max-width: 480px) {
  .login-form {
    width: 90%;
    background-color: #000;
  }

  .login-logo {
    width: 130px;
  }

  .login-form h1 {
    font-size: 24px;
  }

  .login-to-home-btn {
    font-size: 16px;
  }
}
