* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Container */
.NewPopular-container {
    margin-top: 60px;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  overflow: hidden;
}

/* Background Poster Image */
.NewPopular-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark Overlay */
.NewPopular-container > .newpopular-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0,0,0,0.7); /* black transparent */
}

.newpopular-overlay  > h2 {
    color: #fff;
    font-size: 8rem;
}

@media screen and (max-width:896px) {
    .newpopular-overlay  > h2 {
        font-size: 3rem;
    }
}
