.signup-container {
  height: 100vh;

  position: relative;
  font-family: Arial, sans-serif;
}

.gradient {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
}

.signup-logo {
  width: 160px;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 10;
}

.signup-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.75);
  padding: 50px;
  border-radius: 5px;
  width: 330px;
  color: white;
  z-index: 10;
}

.signup-form h1 {
  margin-bottom: 20px;
  text-align: center;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #333;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

form.signup-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-btn:hover {
  background: #e50914;
}

.signin-text {
  margin-top: 30px;
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
}

.signin-text span {
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.signin-text span:hover {
  text-decoration: underline;
}
