
.signup-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;

}


.signup-logo {
  width: 160px;
  margin-top: 20px;
  cursor: pointer;
}


.signup-form {
  width: 100%;
  max-width: 400px;   
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  display: flex;
  flex-direction: column;
 gap: 5px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.signup-form h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
}



.signup-form input {
  width: 90%;
  padding: 14px 0px 14px 30px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #444;
  background: #111;
  color: white;
  outline: none;
  font-size: 15px;
  transition: border 0.2s ease;

}

.signup-form input::placeholder {
  color: #bbb;
}


.signup-form input:focus {
  border-color: #e50914;
  outline: none;
}

.password-wrapper {
  position: relative;
  width: 100%;
}


.password-toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.password-toggle-icon:hover {
  color: white;
}


.creating-btn {
  width: 100%;
  background: #e50914;
  padding: 14px;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s ease-in-out;
}

.creating-btn:hover {
  background: #b20710;
}


.login-link {
  color: #bbb;
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  color: #e50914;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}


@media (max-width: 480px) {
  .signup-form {
    width: 90%;
    background-color: #000;
   
  }

  .signup-logo {
    width: 130px;
  }

  .signup-form h1 {
    font-size: 24px;
  }
}

