.signup-container {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: Arial, sans-serif;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/33490a62-2bfc-4aa4-8dc1-91a0c0c2bf99/33e32c57-10c0-4e2a-9c67-29d3a075a324/NG-en-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center/cover no-repeat;
}

.gradient {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

.signup-logo {
  width: 160px;
  position: absolute;
  top: 25px;
  left: 35px;
  z-index: 10;
}

.signup-form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.78);
  padding: 55px 50px;
  border-radius: 6px;
  width: 350px;
  color: white;
  z-index: 10;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.signup-form h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 28px;
}

.signup-form input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #333;
  border: 1px solid #444;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  transition: border 0.2s ease;
}

.signup-form input:focus {
  border: 1px solid #e50914;
  outline: none;
}

.creating-btn {
  width: 374px;
  padding: 12px;
  margin-top: 18px;
  background: #e50914;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.creating-btn:hover {
  background: #f6121d;
}

.login-link {
  margin-top: 20px;
  font-size: 16px;
  color: #b3b3b3;
  text-align: center;
}

.login-link a {
  color: #e50914;
  margin-left: 5px;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}

.password-wrapper {
  position: relative;
  width: 375px;
}

.password-wrapper input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  transition: border 0.2s ease, background 0.2s ease;
}

.password-wrapper input:focus {
  border-color: #e50914;
  outline: none;
  background-color: #222;
  color: #fff;
}

.password-toggle-icon {
  position: absolute;
  right: 12px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #bbb;
  font-size: 20px;
  transition: color 0.2s ease;
}

.password-toggle-icon:hover {
  color: white;
}

@media (max-width: 896px) {
  .signup-logo {
    width: 120px;
    top: 15px;
    left: 10px;
  }

  .signup-form {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    top: 15%;
    left: 0;
    transform: translate(-0%, -0%);
  }

  .signup-form h1 {
    width: 100%;
    text-align: start;
    margin-right: 20px;
  }
}

@media (max-width: 896px) {
  .password-wrapper {
    margin-right: 25px;
    width: 100%;
  }

  .password-wrapper input {
    width: 100%;
    font-size: 14px;
    padding: 12px 13px 12px 10px;
  }

  .password-toggle-icon {
    font-size: 22px;
    right: -10px;
  }

  .creating-btn {
    width: 374px;
    padding: 12px;
  }
}
