.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0px 0px 0px ;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 125px;
}

.footer-social {
  display: flex;
  gap: 18px;
}

.footer-social a {
  font-size: 22px;
  color: #bbb;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #e50914;
  transform: scale(1.2);
}

.footer-contect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16.5rem;
  padding: 0px 20px 0px 0px;
}

.link-column h4 {
  margin-bottom: 12px;
  font-size: 16px;
  color: #fff;
}

.link-column a {
  display: block;
  margin-bottom: 8px;
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.link-column a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #888;
  border-top: 2px dashed #333;
  padding: 20px 0px;
}

.footer-bottom > p > span {
  color: red;
}

@media (max-width: 896px) {
  .footer-contect {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 15px;
  }

  .link-column h4 {
    font-size: 20px;
  }

  .link-column a {
    font-size: 15px;
  }
}

@media (max-width: 896px) {
  .footer-social a {
    font-size: 25px;
  }
}
