.landing-nav {
  position: absolute;
  width: 100%;
  /* padding: 10px; */

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 50rem;

 
}

.nav-logo {
  width: 400px;
  display: flex;
  height: 80px;
}

.signup-btn {
  background: red;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
