.landing-nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 50rem;

}

.landing-nav .nav-logo {
  width: 150px;
  display: flex;
  height: 100px;
 
}

.signup-btn {
  background: red;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 30px;
}

@media (max-width: 896px) {
  .landing-nav {
    width: 100%;
    justify-content: space-between;

    margin-top: 15px;
    gap: 0;
  }

  .nav-logo {
    width: 120px;
    height: auto;
  }

  .signup-btn {
    padding: 6px 12px;
    font-size: 14px;
    margin-right: 20px;
  }
}
