
.main-nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  position: fixed;
  top: 0;
  z-index: 1000;
  gap: 17rem;
  padding-top: 10px;
}


.nav-logo {
  width: 120px;
  cursor: pointer;
  margin-right: 40px;
}


.navbar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link {
  color: #ddd;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
  padding: 5px;
}

.nav-link:hover {
  color: red;
}
.nav-link.active {
  border-bottom: 2px solid red;
  border-radius: 5px;
  
}

 .desktop-logout  {
  width: 8%;
  display: flex;
  background-color: red;
  padding: 10px;
  justify-content: center;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
 }


.logouts-btn {
 width: 100%;
  padding: 8px 8px;
  border: none;
  background: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  left: 20px;
  font-size: 15px;
}

.logout-btn:hover {
  opacity: 0.8;
}


.mobile-logout {
  display: none;
}


.menu-toggle {
  display: none;
  cursor: pointer;
  color: white;
}



@media (max-width: 850px) {

  .main-nav {
  width: 100%;
  height: 70px;
  padding: 0px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  gap: 7rem;
}

.nav-logo  {
  margin-right: 80px;
}

  .menu-toggle {
    display: block;
  }

  .desktop-logout {
    display: block;
   
  }


  .logout-btn {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
   background-color: #000;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 10px 20px 10px;
    display: none;
  }

  .navbar.mobile-active {
    display: flex;
  }

  .mobile-logout {
    display: block;
    width: 90%;
  }
}

