.main-nav {
  background: #111;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 120px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.logout-btn {
  background: red;
  color: white;
  padding: 7px 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
