
.main-nav {
  width: 100%;
  height: 70px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}


.nav-logo {
  width: 120px;
  cursor: pointer;
}


.navbar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link {
  color: #ddd;
  font-size: 17px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: white;
  font-weight: bold;
}


.logout-btn {
  padding: 8px 18px;
  border: none;
  background: #e50914;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  opacity: 0.8;
}


.mobile-logout {
  display: none;
}


.menu-toggle {
  display: none;
  cursor: pointer;
  color: white;
}



@media (max-width: 850px) {

  .main-nav {
  width: 100%;
  height: 70px;
  padding: 0px 15px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  gap: 3.2rem;
}

  .menu-toggle {
    display: block;
  }

  .desktop-logout {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    background:#000;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .navbar.mobile-active {
    display: flex;
  }

  .mobile-logout {
    display: block;
    width: 90%;
  }
}

