.details-container {
  background: #000;
  color: #fff;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.details-wrapper {
  display: flex;
  gap: 35px;
  max-width: 1100px;
  width: 100%;
  padding: 30px 90px 0 0;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
}

.details-poster {
  width: 320px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
}

.details-info {
  flex: 1;
}

.details-title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 15px;
}

.details-meta {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}

.rating {
  color: #ffd700;
}

.release {
  color: #ffb300;
}


.overview-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

.overview-text {
  line-height: 1.6;
  font-size: 18px;

  border-radius: 6px;

  color: #e3e3e3;
}

.details-loading {
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
    .details-container  {
        width: 100%;
        display: flex;
        padding: 0;
    }
  .details-wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 100%;
 
  }

  .details-poster {
    width: 100%;
    height: auto;
  }
  .details-info {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }
  .details-title {
    font-size: 20px;
  }

  .overview-text {
    width: 100%;
    text-align: start;
  
  }
}
