@font-face {
    font-family: Montserrat;
    src: url(/src/assets/static/Montserrat-Black.ttf);
}
@font-face {
    font-family: Protext;
    src: url(/src/assets/static/Montserrat-Medium.ttf);
}
/* @font-face {
    font-family: Montserrat;
    src: url(/src/assets/static/Montserrat-Black.ttf);
} */

h1, h2, h3, h4, h5,h6  {
    font-family: Montserrat;
    font-weight: 100;
}

p, a, span, input, select, textarea {
    font-family: Protext;
}